In [1]:
import pandas as pd

## Import datasets

In [2]:
df_customers = pd.read_csv('datasets/olist_customers_dataset.csv')
df_geolocation = pd.read_csv('datasets/olist_geolocation_dataset.csv')
df_order_items = pd.read_csv('datasets/olist_order_items_dataset.csv')
df_order_payments = pd.read_csv('datasets/olist_order_payments_dataset.csv')
df_order_reviews = pd.read_csv('datasets/olist_order_reviews_dataset.csv')
df_orders = pd.read_csv('datasets/olist_orders_dataset.csv')
df_products = pd.read_csv('datasets/olist_products_dataset.csv')
df_sellers = pd.read_csv('datasets/olist_sellers_dataset.csv')
df_product_category_name = pd.read_csv('datasets/product_category_name_translation.csv')

In [3]:
print(f"df_customers: {df_customers.shape}")
print(f"df_geolocation: {df_geolocation.shape}")
print(f"df_order_items: {df_order_items.shape}")
print(f"df_order_payments: {df_order_payments.shape}")
print(f"df_order_reviews: {df_order_reviews.shape}")
print(f"df_orders: {df_orders.shape}")
print(f"df_products: {df_products.shape}")
print(f"df_sellers: {df_sellers.shape}")
print(f"df_product_category_name: {df_product_category_name.shape}")

df_customers: (99441, 5)
df_geolocation: (1000163, 5)
df_order_items: (112650, 7)
df_order_payments: (103886, 5)
df_order_reviews: (99224, 7)
df_orders: (99441, 8)
df_products: (32951, 9)
df_sellers: (3095, 4)
df_product_category_name: (71, 2)

[![Image from Gyazo](https://i.gyazo.com/72f086a4361acdf88b86c88b801d4121.png)](https://gyazo.com/72f086a4361acdf88b86c88b801d4121)

## Merge

In [4]:
df_train = df_orders.merge(df_order_items, on='order_id', how='left')
df_train = df_train.merge(df_order_payments, on='order_id', how='outer', validate='m:m')
df_train = df_train.merge(df_order_reviews, on='order_id', how='outer')
df_train = df_train.merge(df_products, on='product_id', how='outer')
df_train = df_train.merge(df_customers, on='customer_id', how='outer')
df_train = df_train.merge(df_sellers, on='seller_id', how='outer')
# We can also use inner merge.

print(df_train.shape)

(119143, 39)

In [5]:
def resumetable(df):
    print(f"Dataset Shape: {df.shape}")
    summary = pd.DataFrame(df.dtypes,columns=['dtypes'])
    summary = summary.reset_index()
    summary['Name'] = summary['index']
    summary = summary[['Name','dtypes']]
    summary['Missing'] = df.isnull().sum().values    
    summary['Uniques'] = df.nunique().values
    summary['First Value'] = df.loc[0].values

    return summary

resumetable(df_train)

Dataset Shape: (119143, 39)

,Name,dtypes,Missing,Uniques,First Value
0,order_id,object,0,99441,e481f51cbdc54678b7cc49136f2d6af7
1,customer_id,object,0,99441,9ef432eb6251297304e76186b10a928d
2,order_status,object,0,8,delivered
3,order_purchase_timestamp,object,0,98875,2017-10-02 10:56:33
4,order_approved_at,object,177,90733,2017-10-02 11:07:15
5,order_delivered_carrier_date,object,2086,81018,2017-10-04 19:55:00
6,order_delivered_customer_date,object,3421,95664,2017-10-10 21:25:13
7,order_estimated_delivery_date,object,0,459,2017-10-18 00:00:00
8,order_item_id,float64,833,21,1.0
9,product_id,object,833,32951,87285b34884572647811a353c7ac498a
10,seller_id,object,833,3095,3504c0cb71d7fa48d967e0e4c94d59d9
11,shipping_limit_date,object,833,93318,2017-10-06 11:07:15
12,price,float64,833,5968,29.99
13,freight_value,float64,833,6999,8.72
14,payment_sequential,float64,3,29,1.0
15,payment_type,object,3,5,credit_card
16,payment_installments,float64,3,24,1.0
17,payment_value,float64,3,29077,18.12
18,review_id,object,997,98410,a54f0611adc9ed256b57ede6b6eb5114
19,review_score,float64,997,5,4.0
20,review_comment_title,object,105154,4527,NaN
21,review_comment_message,object,68898,36159,"Não testei o produto ainda, mas ele veio corre..."
22,review_creation_date,object,997,636,2017-10-11 00:00:00
23,review_answer_timestamp,object,997,98248,2017-10-12 03:43:48
24,product_category_name,object,2542,73,utilidades_domesticas
25,product_name_lenght,float64,2542,66,40.0
26,product_description_lenght,float64,2542,2960,268.0
27,product_photos_qty,float64,2542,19,4.0
28,product_weight_g,float64,853,2204,500.0
29,product_length_cm,float64,853,99,19.0
30,product_height_cm,float64,853,102,8.0
31,product_width_cm,float64,853,95,13.0
32,customer_unique_id,object,0,96096,7c396fd4830fd04220f754e42b4e5bff
33,customer_zip_code_prefix,int64,0,14994,3149
34,customer_city,object,0,4119,sao paulo
35,customer_state,object,0,27,SP
36,seller_zip_code_prefix,float64,833,2246,9350.0
37,seller_city,object,833,611,maua
38,seller_state,object,833,23,SP

## EDA